<%- include('body-up') %>
<%- include('navbar') %>


<h2>Change Password:</h2>
<form action="/change-password" method="post">
    <div>
        <label>Current Password:</label>
        <input type="password" name="currentPassword" required>
    </div>
    <div>
        <label for="lastName">New Password:</label>
        <input type="password" name="newPassword" required>
    </div>
    <div>
        <label for="lastName">Confirm New Password:</label>
        <input type="password" name="confirmNewPassword" required>
    </div>

    <button type="submit" class="btn btn-danger">Change</button>
</form>


<%- include('body-down') %>
