<%- include('body-up') %>
<%- include('navbar') %>

<form action="/auth/reset-password" method="post">
    <input type="email" placeholder="Enter your email" name="email">
    <button type="submit">Reset</button>
</form>


<%- include('body-down') %>
